body{
    background-color: darkblue;
    display: flex;
    justify-content: center;
    
}
.container{
    color: white;
    width: 50%;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.todoContainer{
    background-color: gray;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 2%;
    padding: 2%;
    color: blue;
}

.dd{
    display: grid;
}

.todoDelete{
    background-color: red;
    color: white;
    padding: 10%;
    justify-self: center;
    align-self: center;
}